/* required styles */
/*
	basic.css
		css for HIGGS H.P.
								   2015.7.27. coded by K. RYOKI
*/
.body12black{
	color: black;
	font-size: 12pt;
	font-family: "ＭＳ 明朝", "ＭＳ Ｐ明朝", "ヒラギノ明朝 Pro W3", 細明朝体, 平成明朝;
	background-color: white;
}
.body12blackb{
	color: black;
	font-size: 12pt;
	font-family: "ＭＳ 明朝", "ＭＳ Ｐ明朝", "ヒラギノ明朝 Pro W3", 細明朝体, 平成明朝;
	font-weight: bold;
	background-color: white;
}
.body14blueb{
	color: #0085ff;
	font-size: 14pt;
	font-family: "ＭＳ 明朝", "ＭＳ Ｐ明朝", "ヒラギノ明朝 Pro W3", 細明朝体, 平成明朝;
	font-weight: bold;
	background-color: white;
}
.body10black{
	color: black;
	font-size: 10pt;
	font-family: "ＭＳ 明朝", "ＭＳ Ｐ明朝", "ヒラギノ明朝 Pro W3", 細明朝体, 平成明朝;
	background-color: white;
}
.body10blackb{
	color: black;
	font-size: 10pt;
	font-family: "ＭＳ 明朝", "ＭＳ Ｐ明朝", "ヒラギノ明朝 Pro W3", 細明朝体, 平成明朝;
	font-weight: bold;
	background-color: white;
}
.body10red{
	color: red;
	font-size: 10pt;
	font-family: "ＭＳ 明朝", "ＭＳ Ｐ明朝", "ヒラギノ明朝 Pro W3", 細明朝体, 平成明朝;
	background-color: white;
}
.body08blueE{
	color: #06c;
	font-size: 8pt;
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}
a:link{
	color: #0080ff;
}
a:visited{
	color: #800080;
}
a:hover{
	color: #ff0000;
}
a:active{
	color: #ff8000;
}

