/* required styles */
/*
	stereoscope.css
										css for Stereoscopic Viewer Ver. 2.01
												2019. 5.21. coded by K. RYOKI
												2025.11.13. improved         
												2025.11.14. compatibled with smartphones
*/

body {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; /* Safari */
}
#google_map:disabled{
    color: #ddd;
    background: #AAA;
}
p {
	margin: 0px;
}
iframe,video{
	width: 48vw;
	height:50vh;
	padding:0px;
	border: 1px solid black;
	transform:rotate(0deg);
	user-select:auto;
	position: relative;
}
#body {
	overflow:auto;
	min-width:100px;
	min-height:300px;
	margin: 0 auto;
	border:0px;
	padding:0px;
	background-image:url(./../img/back.gif);
	background-repeat:repeat;
}
#header{
	margin-left:10px;
	margin-right:10px;
	height:auto;
	min-width:100px;
	user-select: none;
}
#main{
	min-width:100px;
	min-height:300px;
	margin-left:5px;
	margin-right:5px;
	position: relative;
	user-select:auto;
}
#footer{
	min-width:95vw;
	padding:0px;
	border:1px;
	height:30px;
	font-size:10px;
	color:#000088;
	text-align : right;
	vertical-align : bottom;
	margin-left:5px;
	margin-right:5px;
	}
#altitude {
/*
	width: 111px;
*/
}
#button_drow {
	border: 1px solid #aaa;
	background-image: -webkit-linear-gradient(top, #fff, #ccc);
	background-image: linear-gradient(to bottom, #fff, #ccc);
	border-radius: 4px;
	color: #000;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
	width: 100px;
	height: 20px;
	font-size: 8pt;
	font-weight:bold;
	z-index: 70;
}
#main_url {
	transition: none;
	color:#000;
	text-shadow: #a2cede 2px 2px;
	position: relative;
	font-size: 16px;
	margin: 0px;
	height: auto;
	z-index: 70;
}
#url_0 {
	height:18px;
	border: 1px solid #aaa;
	z-index: 80;
}
#section_0 {
	height:auto;
	z-index: 80;
}
#p_0 {
	height:auto;
	margin: 0px;

}
#url_1, #url_2 {
	height:8px;
	font-size: 8px;
	line-height: 1;
	color: MediumBlue;
	white-space:pre;
}
#title_url_0 {
	height:26px;
	font-size: 10pt;
	transition: none;
	margin: 0px;
    vertical-align:7%;
	z-index: 80;
}
#sub_url, #calc_id, #angle_unit, #angles_vmp {
	margin: 0;
	font-size: 8pt;
	color: MediumBlue;
	white-space:pre-line;
	z-index: 3;
}
#view_index {
	margin: 0;
	color: red;
}

#sub_point {
	margin: 0;
	font-size: 8pt;
	color: MediumBlue;
	white-space: nowrap;
	
}

#url_indication, #point_indication, #detail {
	border: 1px solid #aaa;
	background-image: -webkit-linear-gradient(top, #fff, #ccc);
	background-image: linear-gradient(to bottom, #fff, #ccc);
	color: MediumBlue;
	font-weight:bold;
	-webkit-transition: none;
	transition: none;
	width: 80px;
	height: 22px;
	font-size: 8pt;
}
#angle_units {
	z-index: 80;

}
#button_others{
	position: relative;
	z-index: 80;
}
#button_innervideo{
	font-size: 8pt;
	position: relative;
	z-index: 90;
}
#input_rotate{
	height:20px;
	width:50px;
	padding:0px;
	position: relative;
	visibility: hidden;
	z-index: 60;
}
#filename{
	position: relative;
	z-index: 90;
}
#set{
	position: relative;
	z-index: 60;
}
#iframe01{
	position: relative;
	contenteditable:true;
	user-select:auto;
	z-index: 20;
}
#iframe02{
	position: relative;
	z-index: 20;
}
#iframe11{
	position: relative;
	contenteditable:true;
	user-select:auto;
	z-index: 20;
}
#iframe12{
	position: relative;
	z-index: 20;
}
#p_iframe1{
	position: relative;
	contenteditable:true;
	user-select:auto;
	z-index: 20;
}
#p_iframe2{
	position: relative;
	z-index: 20;
}
#angle{
	color:#000;
	text-shadow: #a2cede 2px 2px;
	position: relative;
	z-index: 50;
}
#p_1_inputs{
	color:#f00;
	z-index: 60;
}
#logo{
	float: left;
	z-index: 10;
}
#counter{
	float: left;
	vertical-align: top;
	white-space:nowrap;
	width: 200px;
	height:50px;
	padding:0px;
	border: 0px;
	z-index: 1;
}
#counter_top_page{
	float: right;
	vertical-align: top;
	white-space:nowrap;
	width: 110px;
	height:50px;
	padding:0px;
	border: 0px;
}
#copyright{
	float: right;
	z-index: 10;
}
.selection-group input[type="radio"]:checked + label img {
	background: orange;
}
.selection-group input[type="radio"] {
	display: none;
}
.drow, .button {
	border: 1px solid #aaa;
	background-image: -webkit-linear-gradient(top, #fff, #ccc);
	background-image: linear-gradient(to bottom, #fff, #ccc);
	border-radius: 4px;
	color: #000;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	width: 100px;
	height: 20px;
	font-size: 10pt;
}
/*
#url_indication, #point_indication {
	color: MediumBlue;
	font-weight:bold;
}
*/
.move {
	border: 1px solid #aaa;
	background-image: -webkit-linear-gradient(top, #fff, #ccc);
	background-image: linear-gradient(to bottom, #fff, #ccc);
	border-radius: 4px;
	color: #000;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	width: 30px;
	height: 20px;
	font-size: 10pt;
}
.input_value {
	color: #000;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	width: 80px;
	height: 12px;
	font-size: 10pt;
}
.iframe, .p_iframe, .video{
	height:80vh;
	padding:0px;
	border: 1px solid navy;
	transform:rotate(0deg);
	float: left;
	user-select:auto;
}
.url[type="text"] {
	width:80%;
	margin-top:1px;
	height:20px;
	padding:1px 1px 1px 1px;
	border: 1px solid #555;
}
.button1, #p_blue_color {
	margin: 0px;
	font-size: 8pt;
}
.span_value {
	margin: 0;
}
