/* required styles */
/*
	stereoscope.css
		css for Stereoscopic Viewer Ver. 2.0
												2019. 5.21. coded by K. RYOKI
												2021. 9. 1. improved
*/
iframe,video{
	width: 48vw;
	height:60vh;
	padding:0px;
	border: 1px solid black;
	transform:rotate(0deg);
	user-select:auto;
	position: relative;
	z-index: 1;
}
#body {
	overflow:auto;
	min-width:100px;
	min-height:300px;
	margin: 0 auto;
	border:0px;
	padding:0px;
	background-image:url(./../img/back.gif);
	background-repeat:repeat;
}
#header0{
	margin-left:10px;
	margin-right:10px;
	height:155px;
	min-width:100px;
	user-select: none;
}
#main{
	min-width:100px;
	min-height:300px;
	margin-left:5px;
	margin-right:5px;
	position: relative;
	user-select:auto;
}
#footer{
	min-width:95vw;
	padding:0px;
	border:1px;
	height:20px;
	font-size:10px;
	color:#000088;
	text-align : right;
	vertical-align : bottom;
	margin-left:5px;
	margin-right:5px;
	}
#altitude {
	width: 8%;
}
#button_drow {
	border: 1px solid #aaa;
	background-image: -webkit-linear-gradient(top, #fff, #ccc);
	background-image: linear-gradient(to bottom, #fff, #ccc);
	border-radius: 4px;
	color: #000;
	line-height: 16px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	width: 100px;
	height: 20px;
	font-size: 12pt;
	position: relative;
	z-index: 70;
}
#main_url {
	transition: none;
	white-space:pre;
}
#url_1, #url_2 {
	height:8px;
	font-size: 8pt;
	visibility: hidden;
}
#title_url_0 {
	height:26px;
	font-size: 12pt;
	transition: none;
	white-space:nowrap;
}
#title_url_1, #title_url_2{
	height:8px;
	font-size: 8pt;
	visibility: hidden;
}
#sub_url {
	height:30px;
	font-size: 8pt;
	visibility: hidden;
}
#url_indication {
	border: 1px solid #aaa;
	background-image: -webkit-linear-gradient(top, #fff, #ccc);
	background-image: linear-gradient(to bottom, #fff, #ccc);
	border-radius: 4px;
	color: #000;
	line-height: 16px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	width: 65px;
	height: 25px;
	font-size: 5pt;
}
#button_others{
	position: relative;
	position: relative;
	z-index: 80;
}
#button_innervideo{
	font-size: 8pt;
	position: relative;
	z-index: 90;
}
#input_rotate{
	height:20px;
	width:50px;
	padding:0px;
	position: relative;
	visibility: hidden;
	z-index: 100
}
#filename{
	position: relative;
	z-index: 90;
}
#set{
	position: relative;
	z-index: 60;
}
#iframe01{
	position: relative;
	contenteditable:true;
	user-select:auto;
}
#iframe02{
	position: relative;
}
#iframe11{
	position: relative;
	contenteditable:true;
	user-select:auto;
}
#iframe12{
	position: relative;
}
#p_iframe1{
	position: relative;
	contenteditable:true;
	user-select:auto;
}
#p_iframe2{
	position: relative;
}
#logo{
	float: left;
}
.selection-group input[type="radio"]:checked + label img {
	background: orange;
}
.selection-group input[type="radio"] {
	display: none;
}

.drow, .button{
	border: 1px solid #aaa;
	background-image: -webkit-linear-gradient(top, #fff, #ccc);
	background-image: linear-gradient(to bottom, #fff, #ccc);
	border-radius: 4px;
	color: #000;
	line-height: 16px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	width: 100px;
	height: 20px;
	font-size: 12pt;
}
.move {
	border: 1px solid #aaa;
	background-image: -webkit-linear-gradient(top, #fff, #ccc);
	background-image: linear-gradient(to bottom, #fff, #ccc);
	border-radius: 4px;
	color: #000;
	line-height: 16px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	width: 30px;
	height: 20px;
	font-size: 10pt;
}
.input_value {
	color: #000;
	line-height: 16px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	width: 5%;
	height: 12px;
	font-size: 12pt;
}
.iframe,.p_iframe,.video{
	height:80vh;
	padding:0px;
	border: 1px solid navy;
	transform:rotate(0deg);
	float: left;
	user-select:auto;
}
.url[type="text"] {
	width:85%;
	margin-top:1px;
	height:20px;
	padding:1px 1px 1px 1px;
	border: 1px solid #555;
}